/*  
        This main.css created by 
            Retorica-Puzzle 
 ** https://github.com/retorica-puzzle **
    This using lisense repository above
*/
.navbar .active{
    color: blue;
}

/* Opening Section */
.opening {
    background: linear-gradient(180deg, whitesmoke, transparent);
    height: 100vh;
}
.opening .heading-text__wrapper{
    display: block;
    margin-top: 50%;
}
.opening .heading-text__wrapper-item h1{
    font-weight: bold;
    font-size: 50px;
}
.opening .heading-images__wrapper {
    position: relative;
    top: 30%;
    right: 0;
}
.opening .heading-images__wrapper .heading-images{
    position: absolute;
    top: 0;
    right: 0;
}
.opening .heading-images__wrapper .heading-hoverimg{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 99;
    transition: all .3s ease;
}
.opening .heading-images__wrapper .heading-hoverimg:hover{
    opacity: 1;
    transition: all .3s ease;
}
.opening .heading-images__wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
}
.opening .heading-text__secondry-item{
    font-size: 16px;
}
.opening .heading-text__button-item {
    margin-top: 20px;
}
/* End Opening */

/* Service Section */
.service {
    background-color: #f8f9fa;
    width: 100%;
}
.service .service-content {
    width: 100%;
    padding: 80px 0;
    text-align: center;
}
.service .service-content h3 {
    margin-top: 25px;
}
.service .service-btn{
    width: 200px;
    height: 200px;
    padding: 10px 16px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}
.service .service-btn> span{
    display: block;
    font-size: 80px;
    margin: 15%;
}
/* End Service */